<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("components/head.ejs") %>
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body class="text-white">
		<div class="container-fluid">
			<%- include("components/title.ejs", { title: "Programs", id:"programs"})
			%> <%- include("components/admin/program.ejs") %> <%-
			include("components/title.ejs", { title: "Profs", id:"profs"}) %> <%-
			include("components/admin/prof.ejs") %>
		</div>
	</body>
</html>
