<!-- Row 6 -->
<div class="row" data-aos-duration="2000" data-aos="flip-up">
	<hr />
	<h1 class="text-center focus">
		<p class="gold fw-bold">
			<% d.icons.map((i) => { %>
			<i class="<%= i %>"></i>
			<% }) %>
			<!-- Title -->
			<%= d.title %>
		</p>
	</h1>
	<hr />
	<div class="col-md-5">
		<p class="fs-5 fw-bold"><%= d.description %></p>
		<ul class="list-unstyled fs-4">
			<% d.checkList.map((li) => { %>
			<li class="d-flex">
				<i class="fa-solid fa-check text-success mt-1 mx-2"></i>
				<p class="txt-6"><%= li %></p>
			</li>
			<% }) %>
		</ul>
	</div>
	<div class="col-md-7 txt-6">
		<ul class="list-unstyled fs-2 txt-6">
			<% d.numList.map((li) => { %>
			<li class="d-flex">
				<i class="fa-solid fa-1 text-warning mt-2 mx-2">-</i>
				<p class="txt-6"><%= li %></p>
			</li>
			<% }) %>
		</ul>

		<button class="btn btn-warning btn-lg w-100"><%= d.button %></button>
	</div>
</div>
